.clients {
    display: flex;
    margin: 0;

    &__item {
        width: 170px;
        height: 90px;

        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 30px;

        border: 1px solid var(--clients-border);
        box-sizing: border-box;
        border-radius: 4px;

        color: var(--socials-color);

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__item:hover,
    &__item:focus {
        border: 1px solid var(--hover-text);
        cursor: pointer;
        color: var(--hover-text);
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-content: center;

        fill: currentColor;
    }

    &__icon:hover,
    &__icon:focus {
        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}