.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;

    justify-content: space-around;

    &--header {
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    &--hero {
        display: block;
    }

    &--footer {
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;
        align-items: baseline;
    }

    &--products {
        flex-wrap: wrap;
        width: 1200px;
        padding: 0 15px;
        margin: 0 auto;
        display: flex;

        justify-content: space-around;
    }
}